.facebook{
    background:  #3a579a !important; 
      color:white;
}
.twitter{
      background: #00abf0 !important;
        color:white;
}
.walk{
      background: #4fc6dc !important;
        color:white;
}
.purchase{
      background: #F73033!important;
        color:white;
}  

.twt{
	color:#00abf0 !important;
}
.fb{
	color: #3a579a !important; 
	}

	.walkins{
	color:#4fc6dc !important;
	}
	.purch{
		color: #F73033!important;
	}
	.logo{
margin-top: -6px;
font-weight: bold;
color: white;
}
.no{
	margin-left: 200px;
width: 100px;
margin-top: 50px;
margin-bottom: 50px;
}
.shares{
	padding-bottom: 39px;
}
.details{
	margin-top: 10px;
}
.social-border{
border: 1px solid;
border-width: 2px;
height: 30px;
border-radius: 100px;
width: 30px;
line-height: 26px;
}


		